.header {
    height: 80px;
}

.banner {
    height: 270px;
    /* margin-top: 80px; */
}

.act {
    height: 920px;
}

.footer {
    height: 100px;
    background-color: #f7f5f5;
}


/* banner样式 */

.banner {
    background: url(../img/activities-img/banner.png) no-repeat center;
    background-size: cover;
    filter: grayscale(100%);
    transition: .5s;
}

.banner:hover {
    filter: grayscale(0);
}


/* 最新活动 */

.act .title {
    height: 200px;
    padding: 0.1px;
}

.act .dress-title {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0;
}

.act .date {
    height: 200px;
    background-color: orange;
}

.act .page {
    height: 120px;
}

.act .date .date-l {
    float: left;
    margin-left: 130px;
}

.act .date .date-r {
    float: left;
}

.act .date {
    box-sizing: border-box;
    padding-top: 50px;
}


/* .act .date.date1 {
    background-color: #444444;
    color: #ffffff;
} */


/* 右箭头定位的参照父元素 */

.act .date.date1 .date-c {
    position: relative;
}

.act .date.date1,
.act .date.date2,
.act .date.date3 {
    color: #444444;
    background-color: #fff;
    padding-left: 60px;
    border-bottom: 1px solid #dbdbdb;
}

.act .date.date1:hover,
.act .date.date2:hover,
.act .date.date3:hover {
    background-color: #444444;
    color: #ffffff;
    /* transform: translateX(-20px); */
}

.act .date.date1 .date-c,
.act .date.date2 .date-c,
.act .date.date3 .date-c {
    transition: .5s;
}

.act .date.date1:hover .date-c,
.act .date.date2:hover .date-c,
.act .date.date3:hover .date-c {
    transform: translateX(-20px);
}

.act .arr-r {
    position: absolute;
    right: 230px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 26px;
    background: url(../img/activities-img/arr-r.png);
}


/*最新活动介绍 左边 */

.act .date .date-l .t {
    font-size: 60px;
}

.act .date .date-l .b {
    font-size: 16px;
    text-align: right;
}


/* 最新活动介绍 右边 */

.act .date .date-r {
    margin-left: 46px;
}

.act .date .date-r .t {
    height: 18px;
    font-size: 16px;
    margin-bottom: 28px;
}

.act .date .date-r .b {
    font-size: 12px;
    line-height: 1.5;
}

.swiper-container .swiper-wraper {
    width: 200%;
    height: auto;
    display: flex;
}

.swiper-container .swiper-wraper .swiper-slide {
    width: 50%;
}


/* 页码 */

.act .page-c {
    position: relative;
    height: 100%;
}

.act .page1,
.act .page2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: solid 1px #c9c9c9;
}

.act .page1 {
    position: absolute;
    left: 565px;
    top: 29px;
}

.act .page2 {
    position: absolute;
    right: 565px;
    top: 29px;
}

.act .page-c span.active {
    color: #dbdbdb;
    background-color: #6d6d6d;
}


/* hover页码变色 */

.page1:hover {
    background-color: #6d6d6d;
    color: #fefefe;
}

.page2:hover {
    background-color: #6d6d6d;
    color: #fefefe;
}


/* 响应式 */

@media (max-width:768px) {
    .banner {
        height: 100px;
    }
    .act .dress-title {
        margin-top: 50px;
    }
    .act .date .date-l {
        padding-left: 0;
        margin-left: 0;
        color: #929292
    }
    .act .date .date-l .t {
        font-size: 20px;
    }
    .act .date .date-r .t {
        font-size: 16px;
        margin-left: 40px;
    }
    .act .arr-r {
        display: none;
    }
    .act .date .date-r {
        float: none;
    }
    .act .date {
        padding-top: 10px;
    }
    .act .date .date-r .b {
        margin-top: 43px;
    }
    .act .date.date1,
    .act .date.date2,
    .act .date.date3 {
        padding-left: 0;
    }
    .act .page-c {
        width: 80px;
        position: relative;
    }
    .act .page1 {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .act .page2 {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}