/* 版心样式 */

.w {
    width: 1200px;
    /* height: 100%; */
    margin: 0 auto;
    /* 消除嵌套崩塌  有定位最好不用*/
    overflow: hidden;
}


/* 头部样式 */

.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 9;
}

.header-m {
    display: none;
}

.veronica {
    width: 177px;
    float: left;
    text-align: center;
    margin-top: 23px;
    margin-left: 60px;
}

.header .header-c .nav {
    float: right;
}

.nav .nav-item {
    float: left;
    /* margin-top: 32px; */
    line-height: 80px;
    margin-right: 82px;
    font-size: 16px;
}

.box {
    display: none;
}


/* a标签的字体 */

.nav .nav-item a {
    color: #666666;
}

.nav .nav-item a.shouye {
    color: #1d1d1d;
}

.nav .nav-item.m0 {
    margin-right: 60px;
}

.nav .nav-item span {
    display: none;
    width: 100%;
    height: 1px;
    background-color: #b9ab77;
    margin-top: -25px;
}

.nav .nav-item:hover span {
    display: block;
}


/* 小标题类公告样式  最新活动*/

.dress-title {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.dress-title .title-t {
    font-size: 26px;
    color: #444444;
}

.dress-title .title-b {
    font-size: 16px;
    color: #c1c1c1;
}


/* 按钮more样式 */

.more {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
    font-size: 12px;
    color: #2d2d2d;
    width: 150px;
    height: 45px;
    border: 1px solid #b9ab77
}


/* 底部footer样式 */

.footer-c {
    height: 100%;
}

.footer .footer-l {
    float: left;
    margin-top: 30px;
    height: 12px;
    font-size: 12px;
}

.footer .footer-l .footer-t {
    margin-bottom: 12px;
}

.footer-c {
    position: relative;
    color: #323232;
}

.footer .footer-r {
    position: absolute;
    float: right;
    right: 0;
    top: 50%;
    margin-top: -5px;
}

.footer .footer-r .footer-item {
    float: left;
    height: 10px;
    line-height: 10px;
    font-size: 12px;
    margin-right: 61px;
}

.footer .footer-r .footer-item:last-child {
    float: left;
    margin-right: 0;
}


/* 底部箭头样式  适用于dress和jew两个页面*/

.arr {
    width: 32px;
    height: 50px;
    position: absolute;
    opacity: 0.58;
    z-index: 3;
}

.arr.arr-l {
    left: -50px;
    top: 256px;
    background: url(../img/index-img/arr-l.png) no-repeat center;
    background-color: #8a8a8a;
}

.arr.arr-r {
    right: -50px;
    top: 256px;
    background: url(../img/index-img/arr-r.png) no-repeat center;
    background-color: #8a8a8a;
}


/* 响应式 */

@media (max-width:768px) {
    .header {
        display: none;
    }
    .header-m {
        display: block;
        height: 80px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        background-color: #fff;
    }
    .w {
        width: 90%;
        margin: 0 auto;
    }
    /* .banner {
        margin-top: 80px;
    } */
    .banner .arr {
        display: none;
    }
    .veronica {
        width: 89px;
        margin-left: 0;
        /* margin-top: 0; */
        z-index: 9;
    }
    .veronica img {
        width: 100%;
        height: auto;
    }
    .veronica p {
        /* width: 24px; */
        font-size: 12px;
        transform: scale(.7);
    }
    .header-m .header-c {
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .header-m .nav {
        height: calc(100vh - 80px) !important;
        display: flex;
        top: 80px;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.3);
        position: fixed;
        justify-content: space-between;
        flex-direction: column;
        display: none;
        z-index: 10;
    }
    .header-m .nav .nav-item:first-child {
        padding-top: 120px;
    }
    .header-m .nav .nav-item {
        width: 100%;
        text-align: center;
    }
    .header-m .nav .nav-item a {
        color: #000;
    }
    .nav .nav-item:hover span {
        display: none;
    }
    .box {
        display: block;
        width: 40px;
        height: 40px;
    }
    .box .line {
        width: 20px;
        height: 2px;
        background-color: #3D3D3D;
        margin: 5px auto 0;
        transition: .3s linear;
    }
    .box .line:nth-child(1) {
        margin-top: 13px;
    }
    .active .line:nth-child(1) {
        transform: translateY(7px);
    }
    .active .line:nth-child(2) {
        width: 0;
    }
    .active .line:nth-child(3) {
        transform: translateY(-7px) rotate(90deg);
    }
    .active {
        transform: rotate(45deg);
        transition-delay: .3s;
    }
    .close .line {
        transition: .3s linear;
    }
    /* 模糊 */
    .filter.content-filter {
        filter: blur(10px);
    }
    .footer .footer-l {
        float: none;
    }
    .footer .footer-l .footer-t,
    .footer .footer-l .footer-b {
        margin: 0 auto;
        text-align: center;
    }
    .footer .footer-r {
        text-align: center;
        top: 68%;
        left: 50%;
        width: fit-content;
        transform: translateX(-50%);
        margin: 0 auto;
    }
    .footer .footer-r .footer-item {
        margin-right: 10px;
    }
}