/* 各板块高度 */

.header {
    height: 80px;
}

.banner {
    width: 100%;
    /* height: 720px; */
    position: relative;
}

.dress {
    height: 828px;
}

.jew {
    height: 556px;
    background-color: rgba(77, 77, 77, 0.03);
}

.activities {
    height: 876px;
}

.designers {
    height: 664px;
    background-color: #4d4d4d;
}

.footer {
    height: 100px;
    background-color: #ffffff;
}


/* banner样式 */

.banner .swiper-wrapper {
    width: 200%;
    height: 100%;
}

.banner .swiper-wrapper .swiper-slide {
    width: 50%;
}

.banner .swiper-wrapper img {
    width: 100%;
    height: 100%;
}

.banner-c {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}


/* 箭头样式 */

.banner .arr {
    width: 50px;
    height: 79px;
    position: absolute;
    opacity: 0.58;
}

.banner .arr.arr-l {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/index-img/arr-l.png) no-repeat center;
    background-color: #8a8a8a;
}

.banner .arr.arr-r {
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/index-img/arr-r.png) no-repeat center;
    background-color: #8a8a8a;
}

.banner .arr:hover {
    opacity: 1;
}

.banner-more {
    width: 216px;
    height: 61px;
    position: absolute;
    top: 50%;
    right: 30%;
    background: url(../img/index-img/矩形\ 2.png) no-repeat center;
}

.banner .dot {
    position: absolute;
    left: 50%;
    bottom: 21px;
    width: 49px;
    height: 18px;
    margin-left: -25px;
    z-index: 4;
}

.banner .dot .dot-item {
    float: left;
    display: block;
    width: 8px;
    height: 8px;
    border: 5px solid rgb(220, 221, 226);
    margin-right: 5px;
    border-radius: 50%;
    background-color: #6c6c6c;
    opacity: 0.27;
}

.banner .dot .dot-item:hover {
    border: 5px solid #6c6c6c;
    background-color: #fff;
}

.banner .dot .dot-item.active {
    border: 5px solid #6c6c6c;
    background-color: #fff;
}

.dress .nav-item.act {
    color: #b9ab77;
}

.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after {
    display: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.banner .zhiding {
    position: absolute;
    right: 0;
    bottom: 52px;
    width: 52px;
    height: 52px;
    background: url(../img/index-img/zhiding.png) no-repeat center;
}

.banner .lianxi {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 52px;
    height: 52px;
    background: url(../img/index-img/lianxi.png) no-repeat center;
    background-size: cover;
}


/* 婚纱礼服样式 */

.dress .dress-title {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.dress .dress-title .title-t {
    font-size: 26px;
    color: #444444;
}

.dress .dress-title .title-b {
    font-size: 16px;
    color: #c1c1c1;
}

.dress .nav {
    margin: 0 auto;
    width: 80%;
    /* width: fit-content; */
    /* display: flex;
    justify-content: space-between; */
    height: 80px;
    cursor: pointer;
}

.dress .nav .nav-item {
    width: fit-content;
    height: 40px;
    border-radius: 0;
    background-color: #fff;
    opacity: 1;
}

.dress .nav-item {
    line-height: 40px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    color: #b9ab77;
    outline: none;
    border: none;
}

.dress .nav {
    width: 50%!important;
    display: flex;
    justify-content: space-between;
}


/* 最后一个没有右边距 */

.dress .nav-item:last-child {
    margin-right: 0;
}


/* 鼠标hover字体变色 */

.dress .nav-item:hover a {
    color: #b9ab77;
}


/* 婚纱图片样式 */

.dress .dress-pic {
    display: flex;
    width: 400%;
}

.dress .dre {
    width: 100%;
    height: 360px;
    margin-bottom: 60px;
}


/* .swiper-pagination-bullet {
    width: 80px;
    height: 80px;
} */

.dress .dre .dre-item,
.dress .dre .dre-item2,
.dress .dre .dre-item3,
.dress .dre .dre-item4 {
    float: left;
    width: 270px;
    height: 100%;
    margin-right: 40px;
    /* background-color: red; */
}

.dress .dre .dre-item:first-child {
    background: url(../img/index-img/wedding1.jpg) no-repeat center;
}

.dress .dre .dre-item:nth-child(2) {
    background: url(../img/index-img/wedding2.jpg) no-repeat center;
}

.dress .dre .dre-item:nth-child(3) {
    background: url(../img/index-img/wedding3.jpg) no-repeat center;
}

.dress .dre .dre-item:nth-child(4) {
    margin-right: 0;
    background: url(../img/index-img/wedding4.jpg) no-repeat center;
}

.dress .dre .dre-item2:nth-child(1) {
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-5.jpg) no-repeat center;
}

.dress .dre .dre-item2:nth-child(2) {
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-6.jpg) no-repeat center;
}

.dress .dre .dre-item2:nth-child(3) {
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-7.jpg) no-repeat center;
}

.dress .dre .dre-item2:nth-child(4) {
    margin-right: 0;
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-8.jpg) no-repeat center;
}

.dress .dre .dre-item3:nth-child(1) {
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-3.jpg) no-repeat center;
}

.dress .dre .dre-item3:nth-child(2) {
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-4.jpg) no-repeat center;
}

.dress .dre .dre-item3:nth-child(3) {
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-5.jpg) no-repeat center;
}

.dress .dre .dre-item3:nth-child(4) {
    margin-right: 0;
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-7.jpg) no-repeat center;
}

.dress .dre .dre-item4:nth-child(1) {
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-5.jpg) no-repeat center;
}

.dress .dre .dre-item4:nth-child(2) {
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-8.jpg) no-repeat center;
}

.dress .dre .dre-item4:nth-child(3) {
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-7.jpg) no-repeat center;
}

.dress .dre .dre-item4:nth-child(4) {
    margin-right: 0;
    background: url(http://www.bufantec.com/site/hunsha/static/img/WeddingDress-2.jpg) no-repeat center;
}


/* 珠宝配饰 */

.jew-c {
    /* 消除嵌套崩塌 */
    overflow: hidden;
}


/* 珠宝图片样式 */

.jew .jews {
    width: fit-content;
    margin-bottom: 60px;
    overflow: hidden;
}

.jew .jews .jew-item {
    position: relative;
    float: left;
    width: 270px;
    height: 180px;
    margin-right: 39px;
    /* background-color: red; */
}

.jew .jew-c .dress-title {
    /* 此间距和第一个不一样 单独设置 添加一个类名权重更高*/
    margin-bottom: 60px;
}

.jew .jews .jew-item:first-child {
    background: url(../img/index-img/jew1.jpg) no-repeat center;
    /* background-size: cover; */
}

.jew .jews .jew-item:nth-child(2) {
    background: url(../img/index-img/jew2.jpg) no-repeat center;
    /* background-size: cover; */
}

.jew .jews .jew-item:nth-child(3) {
    background: url(../img/index-img/jew3.jpg) no-repeat center;
    /* background-size: cover; */
}

.jew .jews .jew-item:last-child {
    margin-right: 0;
    background: url(../img/index-img/jew4.jpg) no-repeat center;
    /* background-size: cover; */
}


/* 遮罩层样式 */

.jew .mask .mask-t {
    font-size: 14px;
    height: 15px;
    line-height: 15px;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 8px;
}

.jew .mask .mask-b {
    height: 13px;
    font-size: 12px;
    line-height: 13px;
    color: #c1c1c1;
}

.jew .mask {
    display: none;
    text-indent: 17px;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.37);
    transition: .5s;
}

.jew .jew-item:hover .mask {
    display: block;
    transition: .5s;
}


/* 最新活动 */

.activities .dress-title {
    /* 此间距和第一个不一样 单独设置 */
    margin-bottom: 60px;
}

.activities {
    background: url(../img/index-img/flower.jpg) no-repeat center;
    background-size: 100% 354px;
    background-position: 0 208px;
}

.activities ul {
    width: fit-content;
    height: 335px;
    margin: 0 auto;
    margin-top: 235px;
    /* 距离下面more按钮的距离 */
    margin-bottom: 59px;
}

.activities ul li {
    float: left;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
}

.activities .info {
    width: 100%;
}

.activities .date {
    text-align: center;
    font-size: 11px;
    color: #1c1c1c;
    width: fit-content;
    margin-left: 43px;
    margin-bottom: 48px;
}

.activities .info .month {
    display: inline-block;
    width: fit-content;
    height: 23px;
    font-size: 30px;
    line-height: 23px;
    color: #8b8b8b;
    margin-top: 44px;
}

.activities .info .year {
    display: inline-block;
    width: 31px;
    height: 12px;
    font-size: 14px;
    color: #8b8b8b;
    line-height: 12px;
    margin-left: 15px;
}

.activities .info .confe {
    width: fit-content;
    height: 16px;
    font-size: 16px;
    color: #000000;
    margin-left: 43px;
    margin-bottom: 21px;
}

.activities .info .desc {
    width: fit-content;
    height: 35px;
    line-height: 2;
    font-size: 13px;
    color: #8b8b8b;
    margin-left: 43px;
    margin-bottom: 59px;
}

.activities .info .mores {
    height: 9px;
    font-size: 14px;
    line-height: 9px;
    color: #bebebe;
    margin-left: 43px;
}

.activities ul img {
    width: 100%;
    height: 100%;
}

.activities ul li:hover img {
    display: none;
}

.activities ul li .info {
    opacity: 0;
}

.activities ul li:hover .info {
    opacity: 1;
}


/* 响应式 */

@media (max-width:768px) {
    .swiper-slide img {
        width: 100%;
    }
    .banner {
        height: auto;
    }
    .dress {
        height: auto;
    }
    .jew {
        height: auto;
    }
    .dress .dress-title .title-t {
        font-size: 20px;
    }
    .dress .dress-title .title-b {
        font-size: 13px;
    }
    .dress .nav {
        width: 90%!important;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .dress .nav .nav-item {
        margin-right: 0;
        font-size: 13px;
    }
    .dress .dre {
        height: auto;
    }
    .dress .dre .dre-item,
    .dress .dre .dre-item2,
    .dress .dre .dre-item3,
    .dress .dre .dre-item4 {
        width: 48%;
        height: 230px;
    }
    .dress .dre .dre-item:nth-child(2),
    .dress .dre .dre-item2:nth-child(2),
    .dress .dre .dre-item3:nth-child(2),
    .dress .dre .dre-item4:nth-child(2) {
        margin-right: 0;
    }
    .dress .dre .dre-item:nth-child(2n+1),
    .dress .dre .dre-item2:nth-child(2n+1),
    .dress .dre .dre-item3:nth-child(2n+1),
    .dress .dre .dre-item4:nth-child(2n+1) {
        margin-right: 10px;
    }
    .jew .jews {
        width: 90%;
        margin: 0 auto;
        padding: 0.1px;
        /* overflow: hidden; */
        /* display: flex;
        flex-wrap: wrap; */
    }
    .jew .jews .jew-item {
        width: 100%;
        margin-right: 0;
        display: inline-block;
    }
    .jew .more {
        margin: 50px auto;
        border: 1px solid #b9ab77;
    }
    .dress-title {
        margin-top: 60px;
    }
    .activities {
        height: auto;
        background-size: cover;
        background-position: 0 163px;
    }
    .activities .activities-c {
        width: 100%;
    }
    .activities ul {
        width: 200%;
        margin: 0;
        height: 270px;
    }
    .activities ul li {
        width: 25%;
    }
    .dress .more {
        margin-bottom: 50px;
    }
    .activities .more {
        margin: 30px auto;
    }
    .activities ul img {
        height: 100%;
    }
    .activities ul img {
        margin-right: 0;
    }
    .designers {
        height: auto;
    }
    .designers .des {
        width: 100%;
    }
    .designers .des .des-item {
        width: 100%;
        margin: 0 auto;
    }
}