.header {
    height: 100px;
}

.content {
    height: 1339px;
    margin-top: 80px;
}

.jew {
    height: 472px;
    background-color: #dddddd;
}

.footer {
    height: 100px;
    background-color: #4d4d4d;
}

.footer .footer-c.w {
    color: #ffffff;
}


/* 内容区样式 */

.content .box1 {
    height: 473px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.content .box1 .title {
    margin-bottom: 43px;
}

.content .box1 .box1-r {
    width: 491px;
}

.content .box2 {
    height: 736px;
}


/* 珠宝配饰样式 */

.jew .jew-c {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding-top: 0.1px;
    position: relative;
}

.jew .sort {
    width: 200px;
    height: 30px;
    margin-top: 100px;
}

.jew .sort .sort-item {
    float: left;
    width: 40px;
    height: 100%;
    line-height: 30px;
    margin-right: 40px;
    font-size: 12px;
    color: #929292;
    text-align: center;
    background-color: #f7f5f5;
}

.jew .sort .sort-item:last-child {
    margin-right: 0;
}

.jew .jew-c .more {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -76px;
    border: solid 1px #bbbaba;
}


/* 底部箭头调整位置 */

.jew .arr {
    position: absolute;
    top: 50%;
    margin-top: -25px;
}


/* 珠宝图片样式 */

.jew .jews {
    margin-top: 40px;
}

.jew .jews .jew-item {
    width: 208px;
    height: 137px;
    margin-right: 40px;
    float: left;
}

.jew .jews .jew-item:first-child {
    background: url(../img/jew-img/jew1.png)no-repeat center;
}

.jew .jews .jew-item:nth-child(2) {
    background: url(../img/jew-img/jew2.png)no-repeat center;
}

.jew .jews .jew-item:nth-child(3) {
    background: url(../img/jew-img/jew3.png)no-repeat center;
}

.jew .jews .jew-item:nth-child(4) {
    background: url(../img/jew-img/jew4.png)no-repeat center;
}

.jew .jews .jew-item:last-child {
    margin-right: 0;
    background: url(../img/jew-img/jew5.png)no-repeat center;
}


/* 响应式 */

@media (max-width:768px) {
    .header .header-m {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        margin: 0 auto;
    }
    .header .header-c {
        height: 100%;
    }
    .jew .jew-c {
        width: 100%;
    }
    .jew .arr {
        display: none;
    }
    .content {
        height: auto;
        margin-top: 10px;
    }
    .content .box1 {
        margin-top: 0;
        height: auto;
    }
    .content .box2 {
        height: auto;
    }
    .content .box1 img,
    .content .box2 img {
        width: 60%;
        display: block;
        margin: 0 auto;
    }
    .content .box1 .box1-r {
        width: 100%;
        float: none;
    }
    .content .box1-r .line {
        display: none;
    }
    .content .dress-name .b,
    .content .dress-name .price,
    .content .dress-name .type {
        text-align: center;
    }
    .content .title .dress-name {
        width: 100%;
        text-align: center;
    }
    .content .box1-r .des {
        margin: 0 auto;
    }
    .content .box2 p {
        height: auto;
        width: 100%;
    }
    .content .box2 .size {
        text-align: center;
    }
    .jew {
        height: auto;
        overflow: hidden;
    }
    .jew .sort {
        margin-top: 50px;
    }
    .jew .jews {
        width: 300%;
        display: flex;
        justify-content: space-between;
    }
    .jew .jew-c .more {
        position: relative;
        bottom: 30px;
        margin-top: 50px;
    }
}